* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: auto;
  border: 2px solid black;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px 12px;
  font-family: "Jaro", sans-serif;
  font-size: 18px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.new {
  background-color: green;
}

.reset {
  background-color: brown;
}

.black {
  background-color: black;
  color: white;
}

.rainbow {
  background-image: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.squares {
  flex: 0 0 calc(100% / 16);
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 1px solid black;
}
